/* Master Styles */
h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
html {
  height: 100%;
  margin:0;
  padding:0
}
body {
  margin:0;
  padding:0;
  background: linear-gradient(300deg, #9fe7ca, white, white);
  min-height: 100%;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

* {
  font-family: 'Pontano Sans', sans-serif;
  /* font-family: 'Hammersmith One', sans-serif; */
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding: 8px 16px;  
  background-color: #72d49d;
  color: white;
  display:flex;
  justify-content: space-between;
}

nav p {
  font-weight: 900;
}

nav div {
  margin-top: 16px;
}

nav a {
  color: white;  
  padding: 8px 16px;
  text-decoration: none;
}

.active{
  color: #0abb77;  
  background-color: white;
}

nav a:hover {
  color: #0abb77;  
  background-color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  padding: 5px;
  margin-left: 0.5em;
  margin-right: 0.5em;  
  line-height: 0.1px;
  padding-top: 0;
  padding-bottom: 0;

  color: white;  
  background-color: #72d49d;
}

.pageCenter {
  max-width: 700px;
  margin: auto;
  text-align: center;
}

.contactIcon {
  font-size: 8em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.contactIcon a {
  padding: 0.2em;
}

a {
  color: #72d49d;
  text-decoration: none;
}

a:hover {
  color: #0abb77;
}

.experienceCard{
  margin-top: 6em;
}
.experienceCard p {
  font-style: italic;
  margin-top: 0;
}

.experienceCard h4 {
  margin-bottom: 0;
  padding-bottom: 0.3em;
}

h5 {
  margin-top: 4em;
}

.experienceSummary{
  color: #888;
}

.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  }
/* 
.fade:hover {
     opacity: 0.5;
} */