<!-- <h3>{{worksTitle}}</h3> -->
<div>
</div>
<div>
    <div *ngFor="let experience of experienceList; let i = index">
            <h4>{{experience.application}}</h4>
            <h5>{{experience.title}}</h5>
            <h5>{{experience.summary}}</h5>
            <div [hidden]="!experience.Url">
                    Visual: 
                    <a target="_blank" href="{{experience.Url}}">{{experience.Url}}</a>
            </div>
            <div *ngFor="let role of experience.roles; let j = index">
                <div>{{role}}</div>
            </div>
        <br>   
    </div>                
</div>
